<!--user-index-->
<div class="container">
  <div class="row">
    <div class="side_bar col-12 col-sm-4">
      <!--userinfo 部分テンプレート呼び出し-->
      <%= render 'info', user: @user %>




    </div>
  </div>
</div>