<main>
  <% flash.each do |key, value| %>
    <p><%= value %></p>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        <h1 class="mt-3">welcome to <span class="fas fa-book"></span><strong>Bookers</strong>  !!</h1>
        <p>In  <span class="fas fa-book"></span><strong>Bookers</strong>, </p>
        <p>you can share and exchange  your opinions , inpressions , and emotions</p>
        <p> about various books!</p>

        <div class="btn-wrapper col-10 mx-auto">
          <div class="row">
          <% if user_signed_in? %>
            <%= link_to user_path(current_user.id), class: "btn btn-info btn-sm btn-block mb-3 sign_in" do %>
              <span>Log in</span>
            <% end %>
          <% else %>
            <a href="/users/sign_in" class="btn btn-info btn-sm btn-block mb-3 sign_in">Log in</a>
          <% end %>
          </div>
          <div class="row">
            <a href="/users/sign_up" class="btn btn-success btn-sm btn-block sign_up">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>